body {
    margin: 0;
}

html {
    height: 100%;
}

.side-menu {
    background-color: #a78bfa;
    color: white;
    grid-row: 1 / 3;
    padding-right: 30px;
}

ul {
    list-style: none;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

li {
    margin-bottom: 20px;
}

li:nth-last-child(3) {
    margin-top: 60px;
}

.options img {
    width: 1.3rem;
    height: auto;
    position: relative;
    top: 3px;
}

.options a {
    font-size: 1.3rem;
}

.logo {
    display: flex;
}

.logo h1 {
    margin-left: 10px;
}

.logo img {
    align-self: center;
    margin-left: 15px;
}

img[src*="magnify"], 
img[src*="bell"] {
    width: 1.3rem;
    height: auto;
    position: relative;
    top: 5px;
}

.header-section img[src*="blank"] {
    width: 3rem;
    height: auto;
    position: relative;
    top: 1.25rem;
}

.header-section {
    padding: 0px 30px 20px 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

input {
    border-radius: 20px;
    border: none;
    background-color: #e3e3e3;
    width: 80%;
    height: 30px;
}

.greetings {
    display: flex;
}

.greetings img[src*="blank"] {
    width: 5rem;
    height: auto;
    position: relative;
    top: 0px;
    margin-right: 20px;
}

.option-buttons button {
    background-color: #a78bfa;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 90px;
    color: white;
    font-size: .9rem;
    margin-left: 15px;
}

.option-buttons {
    align-self: center;
    justify-self: end;
}

.profile-options {
    justify-self: end;
}

.profile-options > span,
.profile-options > img {
    margin-left: 15px;
}

.search-bar {
    align-self: center;
}

.site-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.grid-section {
    background-color: #e3e3e3;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr;
}

.projects-container {
    display: grid;
    gap: 20px;
    grid-column: 1 / 2;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, 325px);
}

.card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    display: grid;
}

.bookmark-options > img {
    width: 1.3rem;
    height: auto;
    margin-left: 5px;
}

.bookmark-options > img:hover {
    cursor: pointer;
}

.bookmark-options {
    align-self: flex-end;
    justify-self: end;
}

.your-projects {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 1.1rem;
}

.announcements,
.people {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    grid-column: 3 / 4;
    grid-row-start: 1;
}

.side-cards:last-child {
    padding-bottom: 0px;
}

.people img {
    width: 3rem;
    height: auto;
    position: relative;
    bottom: 4px;
}

.people > div {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.ats p {
    margin-top: 7px;
    margin-bottom: 30px;
}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}

.people > div:last-child p {
    margin-bottom: 0;
}

.side-cards > :nth-child(odd) {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.announcements {
    margin-bottom: 20px;
}
